doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title walt 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Walt Disney

      section
        h2 Masa Kecil Walt Disney
        p Walter Elias Disney lahir pada tanggal 5 Desember 1901 di 2156 N. Tripp Ave, Hermosa, Chicago, Illinois, dari pasangan Elias Disney dan Flora Call. Nenek moyang Walt Disney beremigrasi dari Gowran, Irlandia. Arundel Elias Disney, kakek buyut Disney, lahir di Kilkenny, Irlandia, pada tahun 1801, dan merupakan keturunan dari Robert d'Isigny, orang Perancis yang berkelana ke Inggris bersama William sang Penakluk tahun 1066. Nama d'Isigny di Anglikanisasi menjadi Disney. Di Marceline, Disney mengembangkan minatnya terhadap seni lukis. Salah satu tetangganya, dokter bernama "Doc" Sherwood yang sudah pensiun, membayarnya untuk menggambar kuda milik Sherwood, Rupert. 

      section
        p Ayahnya, Elias Disney, pindah dari County Huron, Ontario, ke Amerika Serikat tahun 1878, untuk mencari emas di California, namun akhirnya bertani dengan orang tuanya di dekat Ellis, Kansas hingga tahun 1884. Elias bekerja untuk Union Pacific Railroad dan menikah dengan Flora Call pada 1 Januari 1888 di Acron, Florida. Keluarga mereka lalu pindah ke Chicago, Illinois, tahun 1890, tempat saudaranya Robert tinggal. Pada tahun 1906, ketika Walt masih berusia empat tahun, Elias dan keluarganya pindah ke peternakan di Marceline, Missouri, tempat saudaranya Roy baru membeli tanah.

      section
        p Disney juga mengembangkan minatnya terhadap kereta api di Marceline. Keluarga Disney tetap tinggal di Marceline selama empat tahun sebelum pindah ke Kansas City tahun 1911. Di sana, Walt dan adiknya Ruth masuk ke Benton Grammar School, tempat ia bertemu Walter Pfeiffer. Pfeiffer memperkenalkan dunia vaudeville dan film kepada Walt.Selanjutnya, Walt menghabiskan lebih banyak waktu dengan keluarga Pfeiffer daripada di rumahnya sendiri. Ia mengikuti kursus hari Sabtu di Kansas City Art Institute Selama tinggal di Kansas City, Walt dan Ruth Disney juga sering mengunjungi Electric Park. Walter Elias Disney lahir pada tanggal 5 Desember 1901 di 2156 N. Tripp Ave, Hermosa, Chicago, Illinois, dari pasangan Elias Disney dan Flora Call. Nenek moyang Walt Disney beremigrasi dari Gowran, Irlandia. 
      
      section
        p Arundel Elias Disney, kakek buyut Disney, lahir di Kilkenny, Irlandia, pada tahun 1801, dan merupakan keturunan dari Robert d'Isigny, orang Perancis yang berkelana ke Inggris bersama William sang Penakluk tahun 1066. Nama d'Isigny di Anglikanisasi menjadi Disney. Ayahnya, Elias Disney, pindah dari County Huron, Ontario, ke Amerika Serikat tahun 1878, untuk mencari emas di California, namun akhirnya bertani dengan orang tuanya di dekat Ellis, Kansas hingga tahun 1884. Elias bekerja untuk Union Pacific Railroad dan menikah dengan Flora Call pada 1 Januari 1888 di Acron, Florida. Keluarga mereka lalu pindah ke Chicago, Illinois, tahun 1890, tempat saudaranya Robert tinggal. 

      section
        p Pada tahun 1906, ketika Walt masih berusia empat tahun, Elias dan keluarganya pindah ke peternakan di Marceline, Missouri,[7] tempat saudaranya Roy baru membeli tanah. Di Marceline, Disney mengembangkan minatnya terhadap seni lukis. Salah satu tetangganya, dokter bernama "Doc" Sherwood yang sudah pensiun, membayarnya untuk menggambar kuda milik Sherwood, Rupert. Disney juga mengembangkan minatnya terhadap kereta api di Marceline.

      section
        h2 masa remaja Walt Disney
        p Pada tahun 1917, Elias membeli saham di pabrik jelly O-Zell di Chicago, lalu dia memindahkan keluarganya kembali ke kota itu.Disney dikeluarkan dari sekolah pada usia 16 tahun. lalu mencoba bergabung dengan Angkatan Bersenjata AS, tetapi ditolak kerana belum cukup umur Pada tahun 1919, Walt yang hendak mencari pekerjaan di luar pabrik jelly O-Zell di Chicago, pindah kembali ke Kansas City untuk memulai masa  karier seninya.Setelah mempertimbangkan untuk menjadi aktor atau artis koran.
      
      section
        h2 Laugh O'Gram Studio
        p Dengan tajuk "Newman Laugh-O Grams,"kartun Disney menjadi populer di Kansas City.Disney mampu membeli studio sendiri dan merekrut banyak animator, termasuk adik Fred Harman Hugh Harman, Rudolf Ising, dan sahabat Disney Ub Iwerks.

      section
        h2 Hollywood
        p Disney dan saudaranya mengumpulkan uang untuk mendirikan studio kartun di Hollywood. Ia memerlukan distributor untuk kartun barunya Alice Comedies yang mulai dibuatnya di Kansas City. Disney mengirim cetakan yang belum selesai ke distributor New York Margaret Winkler. Winkler membalas Disney bahwa ia berminat untuk mengedarkan film tersebut.

      section
        h2 Hubungan Disney dan Hollywood
        p  Karena gaji karyawan yang tinggi, Walt tidak mampu mengurus keuangan dengan baik. Akibatnya, studionya dililit hutang dan bangkrut. Disney dan saudaranya mengumpulkan uang untuk mendirikan studio kartun di Hollywood. Dan menerbitkan kartun barunya Alice Comedies.

      section
        h2 Zaman Keemasan Animasi
        p Setelah pembuatan dua seri kartun, Disney segera mulai merencanakan film fitur pada 1934. Ketika industri film mengetahui rencana Disney untuk mengadaptasi cerita Putih Salju menjadi film fitur animasi, mereka mentertawakan rencana Disney sebagai "Disney's Folly" (Kebodohan Disney) dan yakin bahwa proyek ini akan menghancurkan Disney. Lillian dan Roy juga membujuk Disney agar melupakan hasrat itu, namun Disney tetap ingin melanjutkan usahanya.

      section
        p Ia mempekerjakan profesor Don Graham dari Chouinard Art Institute untuk memulai latihan untuk pekerja studio, berlandaskan Silly Symphonies sebagai platform untuk menguji animasi manusia realistik, animasi watak tersendiri, special effect, dan penggunaan proses-proses dan peralatan khusus seperti kamera multiplane. Segala usaha pengembangan dan latihan ini digunakan untuk mengangkat mutu studio agar mampu memberikan mutu yang dikehendaki oleh Disney. 

      section
        p Film yang berjudul Snow White and the Seven Dwarfs diproduksi dari tahun 1934 hingga pertengahan tahun 1937, ketika studionya kehabisan dana. Untuk mendapatkan pembiayaan untuk menyiapkan film Snow White, Disney terpaksa meminjam di Bank of America, lalu berhasil mendapatkan uang yang diperlukannya.

      section
        p Setelah disiapkan, film tersebut ditayangkan di Carthay Circle Theater pada 21 Desember 1937; pada akhir film, para penonton berdiri sambil memberikan tepuk tangan kepada Snow White and the Seven Dwarfs. Snow White, film animasi buatan Amerika Serikat dan Technicolor yang pertama, dirilis pada Februari 1938 setelah tercapainya persetujuan pengedaran baru dengan RKO Radio Pictures.

      section
        p Film ini menjadi film yang paling berhasil pada tahun 1938 setelah memperoleh lebih $8 juta dalam tayangan pertamanya. Keberhasilan film Snow White memangkinkan Disney untuk membangun kampus baru bagi Walt Disney Studios di Burbank, yang dibuka pada 24 Desember 1939. Snow White bukan saja menandakan puncak keberhasilan Disney, tetapi juga memulai zaman yang dikenal sebagai Zaman Keemasan Animasi bagi Disney.

      section
        p Seluruh pekerja animasi film fitur, setelah menyiapkan film Pinocchio, melanjutkan pekerjaan untuk film Fantasia dan Bambi, serta tahap awal produksi Alice in Wonderland dan Peter Pan, sementara pekerja film pendek meneruskan pekerjaan mereka untuk kartun Miki, Donal, Gufi dan Pluto, sambil mengakhiri seri Silly Symphonies. Animator Fred Moore mendesain ulang Miki Tikus pada akhir 1930-an, ketika Donal Bebek semakin populer di kalangan penonton dibanding Miki.

      section
        p Film Pinocchio dan Fantasia mengikut jejak Snow White and the Seven Dwarfs ke bioskop pada tahun 1940, tetapi keduanya dalam hal keuntungan kurang memuaskan. Film Dumbo yang tidak terlalua mahal awalnya dirancang sebagai generator pendapatan, tetapi ketika film ini diproduksi, banyak animator studio berdemo, lantas menegangkan hubungan antara Disney dan artisnya dalam jangka waktu yang lama.

      section
        h2 Selama Perang Dunia II
        p Segera setelah dirilisnya Dumbo pada Oktober 1941, Amerika Serikat mulai terlibat dalam Perang Dunia II. Tentara AS mengkontrak banyak fasilitas studio Disney. Para pekerja studio membuat film pelatihan dan instruksi untuk militer, atau film pendek peningkat moral seperti Der Fuehrer's Face. Namun, film militer tidak memberikan pendapatan. 
        hr
        
      section
        h3 
        ul 
        h2 Setelah Perang
        p Studio Disney turut menghasilkan film package murah yang berisi koleksi film kartun pendek, lalu merilisnya di bioskop selama akhir 1940-an.Pada saat itu, Disney juga membuat film dramatik yang menggabungkan live action' dan animasi, seperti Song of the South dan So Dear to My Heart.Selain itu, setelah berakhirnya perang, popularitas Miki Tikus memudar.
          li 
          li 
          li 

      section
        h2 Selama Perang Dunia II
        p Segera setelah dirilisnya Dumbo pada Oktober 1941, Amerika Serikat mulai terlibat dalam Perang Dunia II. Tentara AS mengkontrak banyak fasilitas studio Disney. Para pekerja studio membuat film pelatihan dan instruksi untuk militer, atau film pendek peningkat moral seperti Der Fuehrer's Face. Namun, film militer tidak memberikan pendapatan. lalu memulai produksi film Cinderella, yang menjadi film Disney paling sukses setelah Snow White and the Seven Dwarfs. Namun, sementara Bugs Bunny semakin populer pada 1940-an, Donal Bebek juga semakin populer. Donal juga akan menggantikan Miki sebagai bintang utama Disney pada tahun 1949. 
        
      section
        h2 Taman Bermain
        h3 Disneyland
        p Ketika melakukan kunjungan bisnis ke Chicago pada akhir 1940-an, Disney menggambar rancangan taman bermain yang diharapkan menjadi tempat pekerjanya menghabiskan waktu dengan anak-anak mereka. Ia mendapatkan ide taman bermain anak-anak setelah mengunjungi Children's Fairyland di Oakland, California.  Ide awalnya dikembangkan menjadi konsep untuk perusahaan besar yang menjadi Disneyland.

      section
        p Disney menghabiskan lima tahun mengembangkan Disneyland dan membuka anak perusahaan, yaitu WED Enterprises, untuk melaksanakan perencanaan dan pembuatan taman. Sekelompok kecil pekerja studio Disney bergabung dengan proyek pembangunan Disneyland sebagai insinyur dan perencana yang dijuluki "Imagineers". Disneyland dibuka secara resmi pada 17 Juli 1955. Salah satu pengunjung yang hadir pada pembukaan adalah Ronald Reagan, Bob Cummings dan Art Linkletter.

      section
        h2 Kehidupan pribadi
        h3 
        p Pada tahun 1925, Disney menikah dengan Lillian Bounds. Usaha pertama mereka untuk memiliki anak berakhir dengan Lillian mengalami keguguran. Selanjutnya, Lillian melahirkan seorang anak perempuan yang bernama Diane Marie Disney pada tanggal 18 Desember 1933. Keluarga Disney juga mengadopsi Sharon Mae Disney (31 Desember 1936 – 16 Februari 1993).

      section
        p 

      section(data-bespoke-hash='named-route')
        h2 
        h3 

      section
        h2 penghargaan 
        hr
        ul
          li 
          li Pada tahun 1932 - 1969 walt disney mendapatkan 26 penghargaan  dari Academy Award.
          li dan 8 penghargaan lainnya
        hr
        ul
          li
            

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild