doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title walt 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 Walter Elias Disney 
        h1 "Walt Disney"

      section
        h3 Sekilas tentang Walter Elias Disney
        ul 
          li
        li Putra dari pasangan Elias Disney dan Flora Call.
        li Lahir di Chicago, Illinois, Amerika Serikat, 5 Desember 1901
        li Dan meninggal di Burbank, California, Amerika Serikat, 15 Desember 1966.
        li Adalah seorang produser film, sutradara, animator, dan pengisi suara berkebangsaan Amerika Serikat.
        li Suami dari Lillian Bounds
        li <b>"Pendiri The Walt Disney Company"</b>

      section
        h2 Masa Kecil Walt Disney
        ul 
          li 
          li Pada tahun 1906, ketika Walt masih berusia empat tahun, Elias dan keluarganya pindah ke peternakan di Marceline, Missouri.
          p Disney mengembangkan minatnya terhadap seni lukis dan juga terhadap kereta api di Marceline.
          li Pindah ke Kansas City tahun 1911, Walt dan adiknya Ruth masuk ke Benton Grammar School, tempat ia bertemu Walter Pfeiffer.
          li Pfeiffer memperkenalkan dunia vaudeville dan film kepada Walt. Selanjutnya, Walt menghabiskan lebih banyak waktu dengan keluarga Pfeiffer daripada di rumahnya sendiri
         
      section
        h2 Masa Remaja Walt Disney
        ul
          li
          li Pada tahun 1917, Walt kembali ke kota Chicago, dan mulai belajar di McKinley High School.
          p Karena Karya kartunnya berbau patriotik, berfokus pada Perang Dunia I, Disney dikeluarkan dari sekolah pada usia 16 tahun.
          li Lalu mencoba bergabung dengan Angkatan Bersenjata AS, tetapi ditolak kerana belum cukup umur.
          li Tahun 1919, Walt pindah kembali ke Kansas City. Saudaranya Roy, membantu Walt mendapat pekerjaan sementara di <b>"Pesmen-Rubin Art Studio"</b>, di sinilah ia bertemu dengan kartunis <i>Ubbe Iwerks</i>.
           

      section
        h2 Awal mula Karir
        ul
          li
          li Januari 1920, Disney dan Iwerks mendirikan <b>"Iwerks-Disney Commercial Artists"</b>.
          li Sayangnya, perusahaan itu tidak berusia lama, dan Disney pergi ke <b>"Kansas City Film Ad Company"</b>.
          p Disney kemudian mengembangkan minatnya dalam bidang animasi, dan ingin menjadi animator.
          li Setelah membaca beberapa buku Edwin G. Lutz, ia melihat bahwa animasi lebih menjanjikan. Dan akhirnya Walt membuka bisnis animasi sendiri, lalu merekrut seorang rekan kerja dari Kansas City Film Ad Company, Fred Harman. 
          li Walt dan Harman kemudiannya berhasil membuat persetujuan dengan pemilik bioskop setempat untuk menyiarkan kartun yang berjudul <i><b>"Laugh-O-Grams"</b></i>.
      
      section
        h2 Laugh O'Gram Studio
        ul 
          li
          li Dengan tajuk <i>"Newman Laugh-O Grams"</i>, kartun Disney menjadi populer di Kansas City.Disney mampu membeli studio sendiri dan merekrut banyak animator, termasuk adik Fred Harman <i>Hugh Harman, Rudolf Ising</i>, dan sahabat Disney <i>Ubbe Iwerks</i>.
          li Tetapi, karena gaji karyawan yang tinggi, Walt tidak mampu mengurus keuangan dengan baik. Akibatnya, studionya dililit hutang dan bangkrut.
          p Walt lalu mendirikan studio di Hollywood.

      section
        h2 Hollywood
        ul
          li
          li Disney dan saudaranya mengumpulkan uang untuk mendirikan studio kartun di Hollywood. Ia memerlukan distributor untuk kartun barunya Alice Comedies yang mulai dibuatnya di Kansas City. Disney mengirim cetakan yang belum selesai ke distributor New York Margaret Winkler. Winkler membalas Disney bahwa ia berminat untuk mengedarkan film tersebut.
        p Dan beberapa karya Disney yang terkenal selama di Hollywood pada saat itu           
        li Alice Comedies (1925)
        li Oswald the Lucky Rabbit (1927)
        li Miki Tikus (1928)
        li Silly Symphonies (1929)

      section
        h2 Zaman Keemasan Animasi
        ul
          li
          li Keberhasilan film Snow White memungkinkan Disney untuk membangun kampus baru bagi Walt Disney Studios di Burbank, yang dibuka pada 24 Desember 1939. 
          li Seluruh pekerja animasi film fitur, setelah menyiapkan film Pinocchio, melanjutkan pekerjaan untuk film Fantasia dan Bambi, serta tahap awal produksi Alice in Wonderland dan Peter Pan.
          li sementara pekerja film pendek meneruskan pekerjaan mereka untuk kartun Miki, Donal, Gufi dan Pluto, sambil mengakhiri seri Silly Symphonies.
          li Animator Fred Moore mendesain ulang Miki Tikus pada akhir 1930-an, ketika Donal Bebek semakin populer di kalangan penonton dibanding Miki.
          li Film Pinocchio dan Fantasia mengikut jejak Snow White and the Seven Dwarfs ke bioskop pada tahun 1940.

      
      section
        h2 Selama Perang Dunia II
        p Selama Perang Dunia II Disney merilis beberapa film yaitu :
          ul
            li
          li Dumbo pada 1941
          li Bambi pada 1942
          li Melirislis kembali Snow White pada 1944
          li The Three Caballeros pada tahun 1945
          li Dan beberapa film pelatihan dan instruksi untuk militer, atau film pendek peningkat moral seperti <i>"Der Fuehrer's Face"</i>. Namun, film militer tidak memberikan pendapatan.
        
        
        
      section
        h2 Setelah Perang
        ul
          li
          li Setelah berakhirnya perang, popularitas Miki Tikus memudar.
          li Pada akhir 1940-an, studio Disney telah pulih untuk meneruskan produksi film <i>"Alice in Wonderland dan Peter Pan"</i> yang tertunda akibat perang, lalu memulai produksi film Cinderella dan serial film live action bertema alam yang berjudul <i>"True-Life Adventures"</i> tahun 1948.
          li Disney tidak selaris dahulu, karena orang mulai memberi perhatian kepada Warner Bros, dan bintang animasinya Bugs Bunny.            li Donal Bebek juga semakin populer, dan Donal juga menggantikan Miki sebagai bintang utama Disney pada tahun 1949.
          li Disney memproduksi beberapa film pendidikan mengenai program angkas :
        li Man in Space dan Man and the Moon (1955)
        li Mars and Beyond (1957)
        
      section
        h2 Taman Bermain
        h3 Disneyland
        ul
          li
          li Ppada akhir 1940-an, Disney menggambar rancangan taman bermain yang diharapkan menjadi tempat pekerjanya menghabiskan waktu dengan anak-anak mereka.
          li Ia mendapatkan ide taman bermain anak-anak setelah mengunjungi <i>"Children's Fairyland"</i> di Oakland, California.
          li Disney menghabiskan lima tahun mengembangkan Disneyland dan membuka anak perusahaan, yaitu <i>"WED Enterprises"</i>
          li Sekelompok kecil pekerja studio Disney bergabung dengan proyek pembangunan Disneyland sebagai insinyur dan perencana yang dijuluki <b>"Imagineers"</b>
          li Disneyland resmi dibuka 17 Juli 1955
          li Salah satu pengunjung yang hadir pada pembukaan adalah <i>"Ronald Reagan", "Bob Cummings"</i> dan <i>"Art Linkletter"</i>


      section
        h2 Kehidupan pribadi
        p Pada tahun 1925, Disney menikah dengan <i>Lillian Bounds</i>, usaha pertama mereka untuk memiliki anak berakhir dengan Lillian mengalami keguguran. Selanjutnya, Lillian melahirkan seorang anak perempuan yang bernama <i>Diane Marie Disney</i> pada tanggal 18 Desember 1933. Keluarga Disney juga mengadopsi <i>Sharon Mae Disney</i> (31 Desember 1936 sampai dengan 16 Februari 1993).

      section
        h2 Penghargaan
        p Pada tahun 1932 - 1969 walt disney mendapatkan 26 penghargaan  dari <b><i>Academy Award (Piala Oscar)</i></b>
        p Dan 8 penghargaan lainnya yaitu : 
        ul
          li
        li Terdapat bintang bagi Walt Disney di Anaheim walk of stars, dan dua bintang di Hollywood Walk of Fame
        li Congressional Gold Medal pada 24 Mei 1968
        li Medali khusus dari Liga Bangsa-Bangsa untuk pembuatan Miki Tikus tahun 1935
        li Presidential Medal of Freedom pada 14 September 1964
        li Legion d'Honneur di Perancis tahun 1935
        li Termasuk dalam California Hall of Fame di The California Museum for History, Women, and the Arts
        li Planet 4017 Disneya dinamai dari Walt Disney
        li Gedung Konser Walt Disney di Los Angeles, California, didirikan untuk menghormatinya

      section
        h1 Terima Kasih
        h2 ^_^

            

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild