doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title walt 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Walt Disney

      section
        h2 Masa Keci Walt Disney
        h3 Walter Elias Disney lahir pada tanggal 5 Desember 1901 di 2156 N. Tripp Ave, Hermosa, Chicago, Illinois, dari pasangan Elias Disney dan Flora Call. Nenek moyang Walt Disney beremigrasi dari Gowran, Irlandia. Arundel Elias Disney, kakek buyut Disney, lahir di Kilkenny, Irlandia, pada tahun 1801, dan merupakan keturunan dari Robert d'Isigny, orang Perancis yang berkelana ke Inggris bersama William sang Penakluk tahun 1066. Nama d'Isigny di Anglikanisasi menjadi Disney.

      section
        h2 masa remaja Walt Disney
        h3 Pada tahun 1917, Elias membeli saham di pabrik jelly O-Zell di Chicago, lalu memindahkan keluarganya kembali ke kota itu.Disney dikeluarkan dari sekolah pada usia 16 tahun, lalu mencoba bergabung dengan Angkatan Bersenjata AS, tetapi ditolak kerana belum cukup umur
      
      section
        h2 Laugh O'Gram Studio
        h3 Dengan tajuk "Newman Laugh-O Grams,"kartun Disney menjadi populer di Kansas City.Disney mampu membeli studio sendiri dan merekrut banyak animator, termasuk adik Fred Harman Hugh Harman, Rudolf Ising, dan sahabat Disney Ub Iwerks.

      section
        h3 
        ul
          li 
          li 
          li 

      section
        h2 
        h3 
        hr
        

      section(data-bespoke-hash='named-route')
        h2 
        h3 

      section(data-bespoke-state='emphatic')
        h2 
        h3 

      section
        h2
        hr
        ul
          li 
          li 
          li 
        hr
        ul
          li
            

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild